html {
  margin: 0 0;
  padding: 0 0
}
main {
  height: 100%;
}

#root {
  background-color: red($color: #000000);
  height: 50%;
}


body {
  height: 100%;
  background-color: green;
}

.mainContainer {

  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
}



p {

  text-align: center;
}